<div>
  &nbsp;
</div>
<div class="row">
  <div class="col s12 m8">
    <img src="{{user.image}}" class="circle responsive-img">
    <h3>{{user.firstName}} {{user.lastName}}</h3>
    <h5>Google ID: {{user.googleID}}</h5>
    <h5>{{user.email}}</h5>
    <h5><a href="/stories/my">Story Count: {{user.storyCount}}</a></h5>
  </div>

</div>


